<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
       <h2>admin: user profile</h2>
       <p>hi@azat.co</p>
       <p>http://azat.co</p>
       <p>http://webapplog.com</p>
       <div><Practical>Node.js is your step-by-step guide to learning how to build scalable real-world
web applications, taking you from installing Express.js to writing full-stack web applications with
powerful libraries such as Mongoskin, Everyauth, Mongoose, Socket.IO, Handlebars, and everything in
between.</Practical></div>
  </body>
</html>
