<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
        <h2>user profile</h2>
        <p>http://azat.co</p>
        <p>http://webapplog.com</p>
  </body>
</html>
